#coding-container {
  h2 {
    font-size: 25px;
  }
}


.example-desc {
  background-color: rgba(232,232,232,0.5);
  border-radius: 5px;
  padding: 20px;

  h3 {
    font-size: 18px;
    text-decoration: underline;
  }
  h4 {
    font-size: 16px;
  }
}
