#scroll-up-text {
  text-decoration: none;
  color: inherit;

}
#scroll-up-text:hover{
  color: #a9a9a9;
}


#scroll-up {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  height: auto;
  text-align: center;
  h2 {
    font-size: 22px;
    margin-bottom: 1em;
  }

}
