#scroll-up-text {
  text-decoration: none;
  color: inherit;
}
#scroll-up-text:hover{
  color: #a9a9a9;
}


#scroll-up {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  text-align: center;

}
